body {
    font-family: Futura, sans-serif;
}

.container {
    max-width: 800px;
    margin: 3rem auto;
    border: 1px solid #DDDDDD;
    padding: 1rem 0 3rem 0;
    text-align: center;
}

.alert {
    margin: 1rem;
    border: 1px solid red;
    padding: 1rem;
    color: red;
}

dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

dt {
    text-align: right;
}

dd {
    text-align: left;
}
